@use "../variables/shared" as var;
@use "../mixins/breakpoints" as *;

h1, h2, h3, h4 {
  font-weight: var.$font-weight-extra-bold;
  line-height: normal;
}

h1 {
  font-size: var.$font-size-4xl;

  @include media-breakpoint-up($xl) {
    font-size: var.$font-size-5xl;
  }
}

h2 {
  font-size: var.$font-size-3xl;

  @include media-breakpoint-up($xl) {
    font-size: var.$font-size-4xl;
  }
}

h3 {
  font-size: var.$font-size-2xl;

  @include media-breakpoint-up($xl) {
    font-size: var.$font-size-3xl;
  }
}

h4 {
  font-size: var.$font-size-xl;

  @include media-breakpoint-up($xl) {
    font-size: var.$font-size-2xl;
  }
}